.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.output
/rooms
/accounts
/ratings.json
/room_ratings.json
/.calibrate.mjs
/.calibration.json
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
