@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}

:root {
  --theme-font-family-base: 'Inter', sans-serif;
  --theme-font-family-heading: 'Inter', sans-serif;
}

* {
  outline: 1px solid rgba(255, 0, 0, 0.15);
}

html,
body {
  @apply h-full overflow-hidden;
}
